# Pandas

Panel data的缩写

## Series

In [ ]:
import pandas as pd
 
scores = pd.Series([85, 90, 75, 80])

In [2]:
print(scores)

0    85
1    90
2    75
3    80
dtype: int64

In [3]:
scores = pd.Series([85, 90, 75, 80], index=['Alice', 'Bob', 'Charlie', 'Dave'])

In [4]:
print(scores)

Alice      85
Bob        90
Charlie    75
Dave       80
dtype: int64

## DataFrame

In [6]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
 
df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3     Dave   40     Tokyo